* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: none;
    font-family: 'H', 'Trebuchet MS', Helvetica;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    background-color: whitesmoke;
}

body {
    max-width: 100vw;
}

p {
    font-size: 1.2rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1.5rem;
    text-align: justify;
}

h1 {
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 5vh;
    font-size: 3rem;
    margin-left: 10%;
    margin-right: 10%;
    color: darkred;
}

img {
    display: block;
    margin-left: 10%;
    width: 50%;
    margin-right: 40%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 3.5rem;
    padding-top: 60px;
}

#navbar {       
    color: black;
    width: 100%;
    height: 60px;
    overflow: hidden;
    position: fixed;
}

#navbar a {
    position: relative;
    color: white;
    width: calc(25% - 15px);
    margin: 0 0 0 0;
    background-color: black;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    height: 60px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: calc(10px + 0.4vw);
}

#author {
    background-color: black;
    color: red;
    font-weight: bold;
    width: calc(25% - 15px);
    display: inline-block;
    text-align: center;
    line-height: 60px;
    height: 60px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: calc(10px + 0.4vw);
}

#navbar a:hover {
    color: black;
    background-color: whitesmoke;
}

#logo {
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
    height: 60px;
    width: 60px;
    vertical-align: bottom;
}

#footer {
    color: red;
    background-color: black;
    position: absolute;
    bottom: 0;
    margin: 0 0 0 0;
    width: 100%;
    text-decoration: none;
    font-size: 0.8rem;
    line-height: 3.5rem;
    overflow: ellipsis;
    text-align: center;
}

a {
    text-decoration: none;
}

#footer a:visited {
    color: inherit;
    background-color: black;
}

.seleccionar-comuna {
    width: calc(100%);
    display: block;
    margin: auto;
    font-size: calc(12px + 0.8vw);
    height: 3rem;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 1rem;
}

select {
    color: white !important;
    background-color: black !important;
    outline-color: red;
    outline: black;
    padding-right: 10px;
    padding-left: 10px;
    height: 2rem;
}

option {
    color: red;
    background-color: black;
    height: 2rem;
}

.select-form {
    margin-left: calc(40% - 150px);
    margin-right: calc(40% - 150px);
}

.btn {
    color: black;
    background-color: red;
    line-height: 3rem;
    padding: 0px 25px 0px 25px;
    font-size: calc(12px + 0.8vw);
    display: block;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 0.5rem;
}