{% extends 'base.html' %}
{% block title %}Analizar comuna{% endblock %}
{% block content %}
<div id="content-wrap">
    {%if name != 'None' %}
    <h1>{{ name }}</h1>
    <p>Hello world, este es mi primer análisis en modo app.</p>
    <img src="/vis/1" alt="Gráfico de análisis">     
    <p>Hola</p>
    <img src="/vis/2" alt="Gráfico de análisis">
    <img src="/vis/3" alt="Gráfico de análisis">
    {% else %}
    <h1>No se ha ingresado ninguna comuna.</h1>
    {% endif %}
</div>
{% endblock %}
