{% extends 'base.html' %}
{% block title %}Analizar comuna{% endblock %}
{% block content %}
<div id="content-wrap">
    {%if name != None %}
    <h1>{{ name }}</h1>
    <div class="subtitle">{{ poblacion }} habitantes</div>
    <div class="subtitle">{{ dia_inicio }}-{{ dia_termino }}</div>
    
    <h3>Descripción de la cuarentena</h3>
    <p>Alcance: {{ alcance }}</p>
    <p>Detalle: "{{ descripcion }}"</p>
    <h2>Indicadores de contagio</h2>
    <p>Un total de 9 indicadores de contagio que permiten hacerse una idea general de qué tan efectivas están siendo las cuarentenas en reducir el contagio de COVID-19 son analizados. Más que las cifras mismas, nos fijamos en las tendencias que tienen en los distintos períodos que son relevantes para una cuarentena. Para más detalles sobre la interpretación de estos indicadores, por favor revisar <a href="/consideraciones">la sección de Consideraciones</a>.</p>
    <h3>1. Casos confirmados totales</h3>
    <p>Los casos confirmados nos dan información sobre el alcance que ha tenido la pandemia, pues nos dan directamente una cota inferior sobre la cantidad de personas que han sido alcanzadas por el virus. En un estado ideal de las cosas, <i>ceteris paribus</i>, los casos confirmados totales son los menos posibles en el largo plazo. Por lo mismo, este indicador va a ser más positivo en la medida en que su evolución sea lo más horizontal posible. De igual modo, una cuarentena será más efectiva según este criterio en la medida en que aplane la curva de confirmados.</p>
    <img src="/vis/0/{{ name }}" alt="Comuna {{ name }} no encontrada"><div class="img-info">{{ text_0 }}</div>
    <h3>2. Casos confirmados por 100.000 habitantes</h3>
    <p>El caso anterior puede refinarse un poco si lo escalamos por población. Si bien el número de contagiados es importante, en algunas situaciones se puede querer hacer un análisis entre zonas demográficamente distintas. En esos casos, una buena primera alternativa puede ser escalar por población. Lo interesante es que como es un escalamiento, el análisis es idéntico.</p>
    <img src="/vis/1/{{ name }}" alt="Comuna {{ name }} no encontrada"><div class="img-info">{{ text_1 }}</div>
    <h3>3. Casos activos totales</h3>
    <p>Los casos activos totales dan una mejor visión de la situación actual de la pandemia. Un país puede tener muchos contagiados pero pocos activos y eso sería un indicador de que las cosas han estado mejorando. En este caso, mientras menor sea el número, mejor es el estado de las cosas. La cuarentena será entonces considerada más efectiva en la medida en que se produzca una tendencia a la baja en los casos activos totales, pues habla de una mejora real en las probabilidades de contagio (no así, necesariamente, en el estado de las cosas, que es acumulativo y puede incluir muertes). Una advertencia: La forma con que se cuentan los casos activos en Chile no es estándar por lo que estos datos podrían ser algo engañosos. Se utilizan las fechas de primeros síntomas para evitar distorsiones que puedan producir aspectos ajenos a la cuarentena o al virus, como podrían ser la demora en la entrega de resultados o la demora en acudir a una consulta.</p>
    <img src="/vis/2/{{ name }}" alt="Comuna {{ name }} no encontrada"><div class="img-info">{{ text_2 }}</div>
    <h3>4. Casos activos por 100.000 habitantes</h3>
    <p>Al igual que en el caso de los confirmados totales, este número nos permite una mejor comparación entre zonas distintas, a la vez que mantiene las buenas características del indicador anterior. Adicionalmente, la normalización tiene el beneficio de que, de estar bien medido el número, difiere por un factor constante de la probabilidad de que un individuo de la comuna sea contagioso.</p>
    <img src="/vis/3/{{ name }}" alt="Comuna {{ name }} no encontrada"><div class="img-info">{{ text_3 }}</div>
    <h3>5. Casos nuevos</h3>
    <p>Los casos nuevos pueden ser directamente interpretados como la tendencia instantánea de los casos confirmados totales. Ver la tendencia de los casos nuevos, podría interpretarse así como una segunda derivada, que indicaría que tan rápido está cambiando esta tendencia. Así, una cuarentena es mucho más efectiva cuando logra crear o acelerar un decrecimiento de casos nuevos.</p>
    <img src="/vis/4/{{ name }}" alt="Comuna {{ name }} no encontrada"><div class="img-info">{{ text_4 }}</div>
    <h3>6. Casos nuevos por 100.000 habitantes</h3>
    <p>Del mismo modo que para los casos anteriores, este dato se puede normalizar por la cantidad de habitantes para hacerlo comparable a otras regiones. Una mejor alternativa podría haber sido normalizar por el número de casos activos, pero esto fue descartado debido a las diversas inconsistencias entre las fechas de ambos datos.</p>
    <img src="/vis/5/{{ name }}" alt="Comuna {{ name }} no encontrada"><div class="img-info">{{ text_5 }}</div>
    <h3>7. Tiempo de duplicación de casos</h3>
    <p>El tiempo de duplicación de casos es un excelente indicador de la contagiosidad. Está directamente relacionado con el número reproductivo efectivo del patógeno y da una buena idea de qué tan rápido las cosas pueden empeorar. Mientras más alto es el tiempo de duplicación, más tiempo se tiene para prepararse para los peaks de contagio, si no se han alcanzado, o más cerca se está de la exterminación del virus, en caso de haber pasado el peak. Por lo mismo, una cuarentena es más efectiva cuando genera una tendencia alzista en este indicador.</p>
    <img src="/vis/6/{{ name }}" alt="Comuna {{ name }} no encontrada"><div class="img-info">{{ text_6 }}</div>
    <h3>8. Viajes diarios en transporte público (promedio 7 días, origen)</h3>
    <p>Los viajes realizados son un medidor indirecto y sesgado de la contagiosidad de la enfermedad, pero nos interesan porque, al menos en lo concerniente al transporte público, son un medio muy significativo en la transmisión. Además, esta información más bruta puede ser importante a la hora de tomar decisiones, como por ejemplo, dónde asignar los buses de Transantiago ahora que el sistema está más descongestionado desde las zonas que más redujeron su circulación de personas a las que lo hicieron menos.</p>
    <img src="/vis/7/{{ name }}" alt="Comuna {{ name }} no encontrada"><div class="img-info">{{ text_7 }}</div>
    <h3>9. Viajes diarios (promedio 7 días, destino)</h3>
    <p>Este indicador es comparable en todos los aspectos a lo anterior, pero puede ser preferible uno o el otro en la medida en que se quiera entender cómo la comuna seleccionada afecta a otras o cómo es afectada por las otras. Por simplicidad, en ambos casos el resultado es agregado entre todas las comunas distintas, pero en teoría se puede facilitar este gráfico para una comuna específica.</p>
    <img src="/vis/8/{{ name }}" alt="Comuna {{ name }} no encontrada"><div class="img-info">{{ text_8 }}</div>
    {% else %}
    <h1>{{ error }}</h1>
    {% endif %}
</div>
{% endblock %}
