{% extends 'base.html' %}
{% block title %}Analizar comuna{% endblock %}
{% block content %}
<div id="content-wrap">
    {%if name != None %}
    <h1>{{ name }}</h1>
    <div class="subtitle">{{ poblacion }} habitantes</div>
    <div class="subtitle">{{ dia_inicio }}-{{ dia_termino }}</div>
    
    <h3>Descripción de la cuarentena</h3>
    <p>Alcance: {{ alcance }}</p>
    <p>Detalle: "{{ descripcion }}"</p>
    <h2>Indicadores de contagio</h2>
    <p>Un total de 9 indicadores de contagio que permiten hacerse una idea general de qué tan efectivas están siendo las cuarentenas en reducir el contagio de COVID-19 son analizados. Más que las cifras mismas, nos fijamos en las tendencias que tienen en los distintos períodos que son relevantes para una cuarentena. Para más detalles sobre la interpretación de estos indicadores, por favor revisar <a href="/consideraciones">la sección de Consideraciones</a>.</p>
    <h3>1. Casos confirmados totales</h3>
    <img src="/vis/0/{{ name }}" alt="Comuna {{ name }} no encontrada"><div class="img-info">{{ text_0 }}</div>
    <h3>2. Casos confirmados por 100.000 habitantes</h3>
    <img src="/vis/1/{{ name }}" alt="Comuna {{ name }} no encontrada"><div class="img-info">{{ text_1 }}</div>
    <h3>3. Casos activos totales</h3>
    <img src="/vis/2/{{ name }}" alt="Comuna {{ name }} no encontrada"><div class="img-info">{{ text_2 }}</div>
    <h3>4. Casos activos por 100.000 habitantes</h3>
    <img src="/vis/3/{{ name }}" alt="Comuna {{ name }} no encontrada"><div class="img-info">{{ text_3 }}</div>
    <h3>5. Casos nuevos</h3>
    <img src="/vis/4/{{ name }}" alt="Comuna {{ name }} no encontrada"><div class="img-info">{{ text_4 }}</div>
    <h3>6. Casos nuevos por 100.000 habitantes</h3>
    <img src="/vis/5/{{ name }}" alt="Comuna {{ name }} no encontrada"><div class="img-info">{{ text_5 }}</div>
    <h3>7. Tiempo de duplicación de casos</h3>
    <img src="/vis/6/{{ name }}" alt="Comuna {{ name }} no encontrada">
    <h3>8. Viajes diarios (origen)</h3>
    <img src="/vis/7/{{ name }}" alt="Comuna {{ name }} no encontrada">
    <h3>9. Viajes diarios (destino)</h3>
    <img src="/vis/8/{{ name }}" alt="Comuna {{ name }} no encontrada">
    {% else %}
    <h1>{{ error }}</h1>
    {% endif %}
</div>
{% endblock %}
