{% extends 'base.html' %}
{% block title %}Analizar comuna{% endblock %}
{% block content %}
<div id="content-wrap">
    <h1>Consideraciones del análisis</h1>
    <p>Esta aplicación web está centrada en el análisis de datos de COVID-19 para medir, de alguna forma, la efectividad que han tenido las distintas cuarentenas parciales en Chile. Si bien existen distintas posibles fuentes de datos, nos limitamos a los datos publicados por el Ministerio de Ciencia, Tecnología, Conocimiento e Innovación por razones prácticas. Para más información respecto de los datos, por favor, diríjase a <a href="/datos">la sección de Datos</a>. Lo anterior trae, por supuesto, como consecuencia que no todo el análisis pertinente para medir la efectividad de una cuarentena esté disponible. Esto se reflejará, como se explicará más adelante, en que el análisis solo puede ser parcial y, por lo tanto, incompleto.</p>
    <p>Para medir si una cuarentena hay que medir, a grandes rasgos. La primera, es en qué medida cumple su propósito. Recordemos que las cuarentenas son puestas con el objetivo de limitar el contagio de un agente patógeno, en este caso, del COVID-19. </p>
</div>
{% endblock %}
