{% extends 'base.html' %}
{% block title %}Analizar comuna{% endblock %}
{% block content %}
<div id="content-wrap">
    <h1>Información sobre los datos</h1>
    <h2>Fuente de los datos</h2>
    <p>Todos los datos aquí utilizados se encuentran abiertamente disponibles en <a href="http://www.minciencia.gob.cl/covid19">el sitio del Ministerio de Ciencia, Tecnología, Conocimiento e Innovación</a>, o más precisamente, en su GitHub abierto. De ellos, se escogieron principalmente los datos específicos a las comunas, es decir, los ahí descritos como Datos por comuna, pero también, los viajes diarios por comuna en transporte público en la sección de Movilidad.</p>
    <h2>Objetivo del proyecto</h2>
    <p>Este proyecto fue desarrollado en <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a> por mí, Pedro Bahamondes, para <a href="https://www.imfd.cl">el Instituto Milenio Fundamentos de los Datos</a> (para el cual actualmente investigo para mi tesis de magíster) en el contexto de una postulación laboral. Toda el código fuente de este proyecto está disponible de manera abierta en <a href="https://github.com/pedrobw/covid-cuarentena-efectiva">mi GitHub personal</a>.</p>
</div>
{% endblock %}
